@model IEnumerable<Busmanagemnetsystem.Controllers.AvailableSeat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bus.BusNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bus.BusNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BusID })
        </td>
    </tr>
}

</table>
