@model IEnumerable<Busmanagemnetsystem.Controllers.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.From_Station)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To_Station)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bus.BusNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.From_Station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To_Station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bus.BusNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
    </tr>
}

</table>
